

#top {
	margin: 50px 50px 50px 50px;
	text-align: center;
	background-color: rgb(250, 200, 200);

}

h2 {
	margin: 50px 50px 50px 50px;
	background-color: rgb(150, 200, 200);
	text-align: center;
}

#sec1 {
	display: inline;
	text-align: center;
	
}

p {
	
	text-align: center;
}

